* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red-color {
  background-color: #dc3546;
}

h1 {
  text-align: center;
}

.container {
  text-align: center;
}

.form-label {
  margin: 10px;
  display: flex;
}
